<!DOCTYPE>
<html>
<head>
    <style>
        h1 { 
            text-align: center;
            padding-top: 48vh;
            font-size: 4vh;
        }
        body {
            margin: 0px;
        }
    </style>
</head>

<body>
    <div style="background-color:#005bbbad;width: 100vw;height: 50vh;position: absolute;"></div>
	<div style="background-color:#ffd500b8;width: 100vw;height: 50vh;position: absolute;margin-top: 50vh;"></div>
    <h1 style="text-align:center">Dużo siły i miłości dla Ukrainy! Jesteśmy z wami.</h1>
</body>

</html>
