<html>
	<head>
		<style>
		body {
			background-color: #112b41;
			font-size: 5vh;
			color: antiquewhite;
		}
		p {
			font-family: monospace;
			background-color: black;
			color: green;
			padding: 10px;
			font-size: smaller;
		}
		</style>
	</head>
	<body>{{text}}/xd.html - {{inny_text}}
		<p style="font-family: monospace;"><span style="color: deepskyblue;">git:(</span><span style="color:#ff0000;">main</span><span style="color: deepskyblue;">)</span>export PYTHONIOENCODING=utf8</p>
	</body>
</html>
