<html>
	<head>
		<style>

		</style>
	</head>
	<body>
	Fork the project repo on GitHub.<br />
	1. Fork repo na GitHup<br />
	2. Clone fork ze swojego GitHub'a na lokalny dysk<br />
		$ git clone git@github.com:your_name_here/repo_name.git<br />
	3. Utwórz loklany branch<br />
		$ git checkout -b name-of-your-bugfix-or-feature<br />
	4. Teraz możesz dokonywać lokalnie zmian<br />
	5. Po wprowadzeniu i przetestowaniu zmian, wypchnij je na GitHub'a<br />
		$ git add .<br />
		$ git commit -m "Opis wprowadzonych zmian"<br />
		$ git push origin name-of-your-bugfix-or-feature<br />
	Submit a pull request through the GitHub website.<br />

	</body>
</html>